In [1]:
import pandas as pd

In [2]:
Covid_vs_Football = pd.read_csv("coronavirus vs football worldwide 2019-2022.csv")

In [3]:
Covid_vs_Football

                                                         Category: All categories
Country               coronavirus: (5/1/19 - 5/1/22)  football: (5/1/19 - 5/1/22)
Sierra Leone          NaN                                                     NaN
Liberia               NaN                                                     NaN
South Sudan           NaN                                                     NaN
Malawi                NaN                                                     NaN
...                                                                           ...
Tokelau               NaN                                                     NaN
Tuvalu                NaN                                                     NaN
U.S. Outlying Islands NaN                                                     NaN
Vatican City          NaN                                                     NaN
Wallis & Futuna       NaN                                                     NaN

[251 rows x 1 columns]

In [6]:
Covid_vs_Football.dropna(inplace=True)

In [7]:
Covid_vs_Football

                                                        Category: All categories
Country              coronavirus: (5/1/19 - 5/1/22)  football: (5/1/19 - 5/1/22)
Italy                98%                                                      2%
Spain                97%                                                      3%
Kenya                25%                                                     75%
United Kingdom       48%                                                     52%
Ireland              54%                                                     46%
Nepal                76%                                                     24%
France               88%                                                     12%
Nigeria              22%                                                     78%
United Arab Emirates 84%                                                     16%
Switzerland          92%                                                      8%
Australia            78%                                                     22%
United States        49%                                                     51%
South Africa         78%                                                     22%
New Zealand          75%                                                     25%
Canada               82%                                                     18%
Belgium              85%                                                     15%
Germany              94%                                                      6%
Singapore            75%                                                     25%
India                87%                                                     13%
Mexico               96%                                                      4%
Pakistan             87%                                                     13%
Bangladesh           58%                                                     42%
Portugal             84%                                                     16%
Brazil               97%                                                      3%
Netherlands          85%                                                     15%
Malaysia             65%                                                     35%
Saudi Arabia         87%                                                     13%
Denmark              74%                                                     26%
Sweden               74%                                                     26%
Philippines          84%                                                     16%
Greece               60%                                                     40%
Egypt                69%                                                     31%
Poland               73%                                                     27%
Thailand             49%                                                     51%
Turkey               75%                                                     25%
Indonesia            57%                                                     43%
Russia               68%                                                     32%